.wrapper{
    width:300px;
    height: 150px;
    overflow: hidden;
    position: relative;
    background: red;
}
.content{
    height:100%;
    position: absolute;
    left:0;
}
.carouselItem{
    height: 100%;
    float: left;
}
.indicator{
    position: absolute;
    left: 0;
    bottom: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.indicator .dots{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    margin:0 5px;
}

.navigation {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    width:40px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: rgba(0,0,0,.4);
    cursor: pointer;
}
.navigation_prev {
    left: 0;
}
.navigation_next {
    right: 0;
}