.wrapper{
    width:300px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.content{
    height:100%;
    position: absolute;
    left:0;
}
.swiperitem{
    height: 100%;
    float: left;
    background:red;
}